[submodule "lwip/lwip"]
	path = lwip/lwip
	url = https://github.com/iCepa/lwip.git
[submodule "lwip/lwip-contrib"]
	path = lwip/lwip-contrib
	url = https://git.savannah.gnu.org/git/lwip/lwip-contrib.git
